
<div class="container">
  <div class="col s12">
    <form action="#">
      <div class="row">
          <div class="input-field col s10">    
          <input [(ngModel)]="criterion" name="criterion" placeholder="¿Que producto deseas buscar?" type="text"> 
          </div>
          <div class="input-field col s2">
              <button class="btn waves-effect waves-light" (click)="searchProducts()" name="action">Buscar
                  <i class="material-icons left">search</i>
                </button> 
          </div>
      </div>
      <div *ngIf="isSearching">
        <app-product-list [criteria]="criteria">Cargando...</app-product-list>
      </div>
    </form>
  </div>
</div>